.table__imc {
  text-transform: uppercase;
  width: 560px;
  line-height: 30px;
  font-size: 13px;
  border-spacing: 0;
}

.table__imc thead tr th {
  text-align: left;
  background-color: var(--corPrincipal);
  color: var(--corBranca);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
}

.table__imc tbody {
  color: var(--corText);
  font-weight: bold;
}

.table__imc tbody td {
  border-bottom: 1px solid var(--corLine);
  padding-left: 20px;
}

.table__imc tbody .table__heading {
  color: #1f5eaf;
  letter-spacing: 1px;
  font-weight: normal;
  border-bottom: 2px solid var(--corText);
}

span {
  padding-left: 12px;
}


@media screen and (max-width: 768px) {
  
  .table__imc {
    max-width: 100%;
    font-size: 12px;
  }

  .table__imc tbody td {
    padding-right: 4px !important;
    font-size: 10px;
    padding-left: 4px;
  }
}

