.footer {
    text-align: center;
    padding-top: 40px;
  }
  
  .footer__links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 8px;
  }
  
  .footer__links__item {
    padding: 8px;
    font-size: 30px;
  }
  
  .footer__links__item i {
    color: var(--corPrincipal);
  }
  
  .footer__main__text,
  .footer__last__text {
    padding-bottom: 12px;
    color: var(--corText);
  }