.form {
  display: block;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.altura__block label,
.peso__block label {
  display: block;
  color: var(--corPrincipal);
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 12px;
}

.altura__block input,
.peso__block input {
  width: 130px;
  padding: 6px 10px;
  border: 1px solid var(--corPrincipal);
  border-radius: 8px;
  color: var(--corText);
  font-weight: bold;
  outline-color: var(--corPrincipal);;
}

.peso__block {
  margin-left: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 290px;
}

.buttons button {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 13px;
  width: 130px;
  text-decoration: none;
  color: var(--corBranca);
  background-color: var(--corPrincipal);
  padding: 12px 32px 12px 12px;
  border: none;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 32px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--corPrincipalHover);
}

.buttons .clear {
  background-color: var(--corSecundaria);
  margin-left: 30px;
}

.buttons .clear:hover {
  background-color: var(--corSecundariaHover);
}

.buttons button i {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .inputs,
  .buttons {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
  }
}