.text h1 {
    font-size: 20px;
    color: #1f5eaf;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .text p {
    color: #707070;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
  }