.text h1 {
    font-size: 24px;
    color: var(--corPrincipal);
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 24px;
  }
  
.text p {
    color: var(--corText);
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
  }
 
@media only screen and (max-width: 767px) {
    .text {
      max-width: 100%;
    }
}