* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.text h1 {
  font-size: 20px;
  color: #1f5eaf;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text p {
  color: #707070;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
}

.form {
  display: block;
}

.inputs {
  display: flex;
}

.altura-block label,
.peso-block label {
  display: block;
  color: #1f5eaf;
  font-weight: bold;
  font-size: 13px;
}

.altura-block input,
.peso-block input {
  width: 130px;
  padding: 6px 10px;
  border: 1px solid #1f5eaf;
  border-radius: 10px;
  color: #707070;
  font-weight: bold;
}

.peso-block {
  margin-left: 26px;
}

.buttons button{
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  font-size: 13px;
  color: #fff;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
  background-color: #1f5eaf;
  padding: 13px 45px 13px 20px;
  border: none;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 32px;
}

.buttons .clear{
  background-color: #dc4500;
  margin-left: 30px;
}

.table-imc {
  text-transform: uppercase;
  width: 560px;
  line-height: 30px;
  font-size: 13px;
}

.table-imc thead tr th{
  text-align: left;
  background-color: #1f5eaf;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

.table-imc tbody {
  color: #707070;
  font-weight: bold;
}

.table-imc tbody td {
  border-bottom: 1px solid #e7e7e7;
  padding-left: 20px;
}

.table-imc tbody .table-heading {
  color: #1f5eaf;
  letter-spacing: 1px;
  font-weight: normal;
  border-bottom: 2px solid #707070;
}

h2 {
  width: 250px;
  margin-top: 24px;
  border-radius: 30px;
  font-size: 24px;
  color: #fff;
  background-color: #dc4500;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  text-align: center;
  padding-top: 40px;
}

.footer__links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 8px;
}

.footer__links__item {
  padding: 8px;
  font-size: 30px;
}

.footer__links__item i {
  color: #1f5eaf;
}

.footer__main-text,
.footer__last-text {
  padding-bottom: 12px;
  color: #707070;
}