* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.active {
  background-color: var(--corActive);
}

h2 {
  width: 220px;
  margin-top: 24px;
  border-radius: 8px;
  font-size: 24px;
  color: var(--corBranca);
  background-color: var(--corSecundaria);
  padding: 12px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
}

:root {
  --corPrincipal: #0a3d62;
  --corPrincipalHover: #3c6382;
  --corSecundaria: #e55039;
  --corSecundariaHover: #eb2f06;
  --corBranca: #fff;
  --corActive: rgb(201, 239, 201);
  --corText: #707070;
  --corTextDarker: #414040;
  --corLine:  #e7e7e7;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    overflow-x: hidden;
  }
}